*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

header {
    background-color: #333;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.btn{
    background-color: red;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;

}

.btn:hover{
    opacity: 0.7;
}

.btn:focus{
    outline: none;
}